h1 {
    font-size:xx-large;
    color:#090909;
    background-color:#d28a05;
    text-align: center;
}

#todo-app {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }
  
  #add-task-form {
    display: flex;
    margin-bottom: 10px;
  }
  
  #new-task-input {
    flex-grow: 1;
    padding: 5px;
  }
  
  #add-task-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #add-task-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
  }
  
  #task-list li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  #task-list li:last-child {
    border-bottom: none;
  }
  
  #task-list li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #task-list li span {
    flex-grow: 1;
  }
  
  #task-list li .delete-icon {
    margin-left: auto;
    cursor: pointer;
  }
  
  #completed-tasks-toggle {
    margin-top: 10px;
  }

  footer { 
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    bottom: 0; 
    left: 0; 
    z-index: 10;
    }
